body {
  background-color: blueviolet;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circles, .squares {
  width: 80px;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.circle__one {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
}
.square__one {
  width: 10px;
  height: 40px;
  background-color: white;
}

@keyframes rotation {
  0% { 
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(180deg);  
  }
  100% { 
    transform: rotate(180deg);  
  }
}

.circles {
  animation: rotation 1s ease-in-out infinite;
}

@keyframes scale {
  0% { 
    transform: scaleY(1);
  }
  25% {
    transform: scaleY(1.8);  
  }
  50% { 
    transform: scaleY(1);
  }
  100% { 
    transform: scaleY(1);
  }
}
.square__one {
  animation: scale 1s ease-in-out infinite;
}

.square__one:nth-child(2) {
  
  animation-delay: 0.1s;
}
.square__one:nth-child(3) {
  animation-delay: 0.2s;
}
.square__one:nth-child(4) {
  animation-delay: 0.3s;
}
.square__one:last-child {
  animation-delay: 0.4s;
}
