.settings__settings {
  padding: 20px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.settings__settings i {
  margin-right: 15px;
  font-size: 20px;
  opacity: 0.8;
}
.settings__settings-column:last-child {
  opacity: 0.8;
  position: relative;
}
.settings__settings-column {
  z-index: 2;
}
.settings_bg {
  width: 0%;
  height: 60px;
  transform: translateX(-5%);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: var(--brownGR1);
  transition: all 0.3s ease-in-out;
}
.settings__settings:hover .settings_bg {
  width: 110%;
}
.settings__settings:hover {
  color: white;
}
